body{
    background: url(/images/4.jpg) no-repeat center center fixed;
    background-size: cover;
}
h1{
    color: yellow;
    font-size: 50px;
    margin-top: 50px;
    font-family: "Press start 2p";
    background-color: black;
    opacity: 0.7;
}
/* .pc{
    height: 220px;
    width: 300px;
} */
.footer{
    background-color: #fff;
   position: fixed;
   bottom: 0 ;
}